.terminal-input {}

.terminal-input textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    border: none;
    padding: 0;
    margin: 0;
    pointer-events: none;
}

.terminal-input .cursor {
    display: inline-block;
    width: 0;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}