.wrapper {
  --primary: white;
  --secondary: rgb(45, 45, 45);
  --shadow-primary: rgb(54, 54, 54);
  --color: black;
  --shadow-color: white;
  --tag-color: white;
  --height: 50px;
  --font-size: 20px;
  --label-size: 9px;
  --icon-size: 24px;
  --padding: 20px;
  --corner-clip-size: 15px;
  --text-clip-right-padding: 3px;
  --border: 4px;
  --clip: polygon(0 0,
      calc(100% - var(--corner-clip-size)) 0,
      100% var(--corner-clip-size),
      100% 100%,
      var(--corner-clip-size) 100%,
      0 calc(100% - var(--corner-clip-size)));
  --shimmy-distance: 5;

  display: flex;
  position: relative;
  width: max-content;
  height: max-content;
  margin-top: auto;
  overflow: visible;
}

.button, .shadow {
  clip-path: var(--clip);
}

.button {
  display: flex;
  align-items: center;
  color: var(--color) !important;
  cursor: pointer;
  background: var(--primary);
  font-size: var(--font-size);
  outline: transparent;
  letter-spacing: 2px;
  position: relative;
  font-weight: 700;
  padding: 0px var(--padding);
  border: 0;
  height: var(--height);
  /* width: 200px; */
  overflow: hidden;
}

.button[data-expandable=true] {
  width: calc(var(--icon-size) + (2 * var(--padding)));
  transition-property: width, background;
  transition-duration: 0.8s, 0.8s;
  transition-delay: 0s;
}

.button:hover {
  /* background: var(--secondary); */
  background: var(--shadow-primary);
  color: var(--primary);
}

.button[data-expandable=true]:hover {
  width: 200px;
}

.button:hover .text {
  color: var(--shadow-color);
}

.button:hover svg {
  fill: var(--shadow-color);
  transition-property: fill;
  transition-duration: 0.8s;
  transition-delay: 0s;
}

.button:active {}

.button:before {
  /* background: var(--shadow-primary); */
  transform: translate(var(--border), 0);
}

.button svg {
  flex-shrink: 0;
  width: auto;
  height: 24px;
  fill: var(--color);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--shadow-primary);
  transform: translate(var(--border), 0);
  z-index: -1;
}

.text {
  flex-shrink: 1;
  width: auto;
  text-wrap: nowrap;
  color: transparent;
  transition: color 0.8s;
  color: var(--color);
  transition-property: color;
  transition-duration: 0.8s;
  transition-delay: 0s;
}

.text[data-icon=true] {
  margin-left: 20px;
}