.tileButton {
  text-decoration: none;
  display: absolute;
  display: block;
  width: 90px;
  height: 80px;
  background: #fff;
  text-align: left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0, 0);
  transition: .5s;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, .5);
  margin: 40px 20px;
}

.tileButton svg {
  font-size: 40px;
  color: #262626;
  line-height: 80px;
  transition: .5s;
  padding-right: 14px;
}

.tileButton span {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: .5s;
}

.tileButton:before,
.tileButton:after {
  content: '';
  position: absolute;
  background: #b1b1b1;
  transform: .5s;
}

.tileButton:before {
  content: '';
  position: absolute;
  top: 10px;
  left: -20px;
  height: 100%;
  width: 20px;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}

.tileButton:after {
  bottom: -20px;
  left: -10px;
  height: 20px;
  width: 100%;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

.tileButton:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, .5);
}

/* ul li:hover .fa {
  color: #fff;
}

ul li:hover span {
  color: #fff;
} */

/* ul li:hover:nth-child(1) a {
  background: #3b5998;
}

ul li:hover:nth-child(1) a:before {
  background: #365492;
}

ul li:hover:nth-child(1) a:after {
  background: #4a69ad;
}

ul li:hover:nth-child(2) a {
  background: #00aced;
}

ul li:hover:nth-child(2) a:before {
  background: #097aa5;
}

ul li:hover:nth-child(2) a:after {
  background: #53b9e0;
}

ul li:hover:nth-child(3) a {
  background: #dd4b39;
}

ul li:hover:nth-child(3) a:before {
  background: #b33a2b;
}

ul li:hover:nth-child(3) a:after {
  background: #e66a5a;
}

ul li:hover:nth-child(4) a {
  background: #e4405f;
}

ul li:hover:nth-child(4) a:before {
  background: #d81c3f;
}

ul li:hover:nth-child(4) a:after {
  background: #e46880;
} */