.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonsDiv {
    display: flex;
    height: max-content;
    width: max-content;
    margin-top: auto;
    margin-bottom: auto;
    gap: 10px;
}