.networks {
    --background-color: #EF5350;
    --soft-color: #444;
    --main-color: #FFE082;

    --size: 40px;

    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.netbox {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--soft-color);
    color: var(--soft-color);


}

.netbox:before {
    position: absolute;
    top: -0.5rem;
    right: 0;

    content: '';
    display: block;
    width: 100%;
    height: 1px;

    background-color: var(--main-color);
}

.netbox:after {
    position: absolute;
    top: -0.8rem;
    right: 0;

    content: 'Find me on my networks!';
    font-size: 0.5rem;
    padding-left: 10px;
    background-color: var(--background-color);
}


.netbox .icon {
    padding: 0.6rem 0.6rem;
    color: var(--soft-color);
    transition: color 140ms ease;
    margin: 0 0.4rem;
}

.netbox .icon::after {
    position: absolute;
    right: 0;
    bottom: 3.5rem;
    z-index: 20;

    content: attr(data-tip);
    display: block;
    width: auto;

    font-size: 0.6rem;
    color: var(--background-color);
    background-color: var(--main-color);
    padding: 1rem;

    opacity: 0;
    pointer-events: none;
    transform: translateY(1rem);
    transition: all 300ms ease 200ms;
}

.netbox .icon:hover {
    color: var(--main-color);
}

.netbox .icon:hover::after {
    opacity: 1;
    transform: translateY(0);
}