.networks {
    --background-color: white;
    --soft-color: #444;
    --main-color: white;
    --text-color: black;

    --network-icon-box-size: 80px;
    --network-icon-size: 30px;

    width: max-content;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.networks * {
    color: var(--text-color);
}

.labelContainer {
    display: inline-flex;
    align-items: center;
    width: 100%;
    gap: 5px;
}

.label {
    min-width: max-content;
    font-size: 18px;
    color: white;
}

.line {
    width: 100%;
    height: 1px;
    background-color: white;
}

.netbox {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid white;
    color: var(--soft-color);
}

.iconContainer {
    width: var(--network-icon-box-size);
    height: var(--network-icon-box-size);
    display: flex;
    transition: fill 140ms ease;
    position: relative;
}

.iconContainer svg {
    width: var(--network-icon-size);
    height: var(--network-icon-size);
    margin: auto;
    fill: white;
    transition: fill 140ms ease;
}

.iconContainer:hover svg {
    fill: gray;
}

.netbox .icon::after {
    position: absolute;
    right: 0;
    bottom: 3.5rem;
    z-index: 20;

    content: attr(data-tip);
    display: block;
    width: auto;

    font-size: 0.6rem;
    fill: var(--background-color);
    background-color: var(--main-color);
    padding: 1rem;

    opacity: 0;
    pointer-events: none;
    transform: translateY(1rem);
    transition: all 300ms ease 200ms;
}



.netbox .icon:hover::after {
    opacity: 1;
    transform: translateY(0);
}