.container {
    --aboutme-background-color: rgba(30, 30, 30, 0.95);

    width: 100%;
    height: auto;
    margin: 5%;
    display: flex;
}

.sidebar {
    width: 20%;
    /* height: 100%; */
    background-color: var(--aboutme-background-color);
}