.about-me__container {
    --aboutme-background-color: rgba(30, 30, 30, 0.95);
    --window-gap: 20px;
    --side-windows-width: 300px;
    --explorer-aspect-ratio: 1.5;
    --explorer-reversed-aspect-ratio: calc(1 / var(--explorer-aspect-ratio));

    --mask-window-top: 0px;
    --mask-window-left: calc(var(--explorer-window-left) - var(--window-gap) - var(--mask-window-width));
    --mask-window-width: var(--side-windows-width);
    --mask-window-height: 20vh;

    --about-me-window-top: calc(100% - var(--about-me-window-height));
    --about-me-window-left: calc(var(--explorer-window-left) - var(--window-gap) - var(--about-me-window-width));
    --about-me-window-width: var(--side-windows-width);
    --about-me-window-height: calc(100% - var(--window-gap) - var(--mask-window-height));

    --explorer-window-top: calc(50% - (var(--explorer-window-height) / 2));
    --explorer-window-left: calc(50% - (var(--explorer-window-width) / 2));
    --explorer-window-width: max(
        40vw, 
        var(--explorer-window-min-width)
    );
    --explorer-window-height: max(
        calc(var(--explorer-window-width) * var(--explorer-reversed-aspect-ratio)), 
        var(--explorer-window-min-height)
    );
    --explorer-window-min-width: 600px;
    --explorer-window-min-height: 600px;

    --status-window-top: 0px;
    --status-window-left: calc(var(--explorer-window-left) + var(--explorer-window-width) + var(--window-gap));
    --status-window-width: var(--side-windows-width);
    --status-window-height: calc(100% - var(--window-gap) - var(--location-window-height));

    --location-window-top: calc(100% - var(--location-window-height));
    --location-window-left: calc(var(--explorer-window-left) + var(--explorer-window-width) + var(--window-gap));
    --location-window-width: var(--side-windows-width);
    --location-window-height: 20vh;

    width: 100%;
    height: auto;
    /* margin: 5%; */
    display: flex;
    position: relative;
    /* overflow: hidden; */
}

.mask-window,
.about-me-window,
.explorer-window,
.status-window,
.location-window {
    position: absolute;
}

.mask-window {
    top: var(--mask-window-top);
    left: var(--mask-window-left);
    width: var(--mask-window-width);
    height: var(--mask-window-height);
}

.about-me-window {
    top: var(--about-me-window-top);
    left: var(--about-me-window-left);
    width: var(--about-me-window-width);
    height: var(--about-me-window-height);
}

.explorer-window {
    top: var(--explorer-window-top);
    left: var(--explorer-window-left);
    width: var(--explorer-window-width);
    height: var(--explorer-window-height);
}

.status-window {
    top: var(--status-window-top);
    left: var(--status-window-left);
    width: var(--status-window-width);
    height: var(--status-window-height);
}

.location-window {
    top: var(--location-window-top);
    left: var(--location-window-left);
    width: var(--location-window-width);
    height: var(--location-window-height);
}

/* .about-me-window>.window__content {
    display: flex !important;
} */
.about-me-text {
    user-select: none;
}

.about-me-text.visible .object-to-text__value {
    -webkit-text-security: none;
    text-security: none;
}

.about-me-text.secure .object-to-text__value {
    -webkit-text-security: disc;
    text-security: disc;
}