.container {
    --aboutme-background-color: rgba(30, 30, 30, 0.95);
    --window-gap: 10px;

    --mask-window-top: var(--window-gap);
    --mask-window-left: var(--window-gap);
    --mask-window-width: 20vh;
    --mask-window-height: 20vh;

    --about-me-window-top: var(--window-gap);
    --about-me-window-left: calc((2 * var(--window-gap)) + var(--mask-window-height));
    --about-me-window-width: 20vh;
    --about-me-window-height: calc(100% - (4 * var(--window-gap)) - var(--location-window-height) - var(--mask-window-height));

    --explorer-window-top: calc(50% - (var(--explorer-window-height) / 2));
    --explorer-window-left: calc(50% - (var(--explorer-window-width) / 2));
    --explorer-window-width: 60vw;
    --explorer-window-height: 60vh;

    --status-window-top: var(--window-gap);
    --status-window-left: calc((2 * var(--window-gap)) + var(--mask-window-height));
    --status-window-width: 20vh;
    --status-window-height: 20vh;

    --location-window-top: var(--window-gap);
    --location-window-left: calc((2 * var(--window-gap)) + var(--mask-window-height));
    --location-window-width: 20vh;
    --location-window-height: 20vh;

    width: 100%;
    height: auto;
    /* margin: 5%; */
    display: flex;
    position: relative;
}

.mask-window,
.about-me-window,
.explorer-window,
.status-window,
.location-window {
    position: absolute;
}

.mask-window {
    top: var(--mask-window-top);
    left: var(--mask-window-left);
    width: var(--mask-window-width);
    height: var(--mask-window-height);
}

.about-me-window {
    top: var(--about-me-window-top);
    left: var(--about-me-window-left);
    width: var(--about-me-window-width);
    height: var(--about-me-window-height);
}

.explorer-window {
    top: var(--explorer-window-top);
    left: var(--explorer-window-left);
    width: var(--explorer-window-width);
    height: var(--explorer-window-height);
}

.status-window {
    top: var(--status-window-top);
    left: var(--status-window-left);
    width: var(--status-window-width);
    height: var(--status-window-height);
}

.location-window {
    top: var(--location-window-top);
    left: var(--location-window-left);
    width: var(--location-window-width);
    height: var(--location-window-height);
}