.container {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.portrait {
    position: relative;
    width: auto;
    height: 80vh;
    object-fit: cover;
    margin-top: auto;
}