.window {
    --window-border-size: 0px;
    --window-background: rgba(30, 30, 30, 0.95);
    --window-background-color: rgba(30, 30, 30, 0.95);
    --window-border-color: white;
    --window-border-radius: 10px;
    --window-padding: 10px;

    --header-padding: 10px;
    --header-background-color: rgba(38, 38, 38, 0.95);
    /* --tab-width: 200px; */
    --tab-height: 35px;
    --tab-padding: 10px;
    --tab-text-margin: 10px;
    /* --tab-triangle-width: 30px; */

    --text-color: white;
    --text-color-hover: white;

    position: absolute;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    /* z-index: 100; */
    background-color: var(--window-background-color);
    color: var(--text-color);
    border-radius: var(--window-border-radius);
}

.window__content, .window__tab {
    background: var(--window-background);
    background-color: var(--window-background-color);
    border-style: solid;
    border-width: var(--window-border-size);
    border-color: var(--window-border-color);
}

.window__header {
    width: 100%;
    height: max-content;
    padding-left: var(--header-padding);
    padding-right: var(--header-padding);
    padding-top: var(--header-padding);
    background-color: var(--header-background-color);
    border-top-left-radius: var(--window-border-radius);
    border-top-right-radius: var(--window-border-radius);
}

.window__tab {
    display: flex;
    flex-direction: row;

    width: max-content;
    min-height: var(--tab-height);
    height: var(--tab-height);

    background: none;
    background-color: var(--window-background-color);

    border-left-width: var(--window-border-size);
    border-right-width: var(--window-border-size);
    border-bottom-width: var(--window-border-size);

    border-top-left-radius: var(--window-border-radius);
    border-top-right-radius: var(--window-border-radius);

    padding-left: var(--tab-padding);
    padding-right: var(--tab-padding);

    transform: rotateX(1deg);
    vertical-align: middle;
    /* margin-left: var(--tab-triangle-width);
    margin-right: var(--tab-triangle-width); */
    box-sizing: content-box;
    user-select: none;
}

/* .window__tab::before, .window__tab::after {
    content: "";
    position: absolute;
    top: calc(-1 * var(--window-border-size));
    width: var(--tab-triangle-width);
    height: calc(var(--tab-height) + var(--window-border-size));
    background-repeat: no-repeat;
} */

.window__tab::before {
    left: calc(-1 * var(--tab-triangle-width));
    background-image: linear-gradient(to bottom right,
            transparent calc(50%),
            var(--window-border-color) 50%,
            var(--window-border-color) calc(50% + var(--window-border-size)),
            var(--window-background-color) calc(50% + var(--window-border-size)));
    background-position: left;
}

.window__tab::after {
    right: calc(-1 * var(--tab-triangle-width));
    background-image: linear-gradient(to bottom left,
            transparent calc(50%),
            var(--window-border-color) 50%,
            var(--window-border-color) calc(50% + var(--window-border-size)),
            var(--window-background-color) calc(50% + var(--window-border-size)));
    background-position: right;
}

.window__tab>* {
    margin-top: auto;
    margin-bottom: auto;
}

.window__tab>svg {
    height: 20px;
    aspect-ratio: 1;
    margin-left: var(--tab-text-margin);
    /* fill: var(--text-color); */
}

.window__tab>span {
    margin-left: var(--tab-text-margin);
    margin-right: var(--tab-text-margin);
    height: max-content;
}

.window__icon-button {
    border: none;
    background: none;
    height: 30px;
    width: 30px;
    padding: 0px;
    border-radius: 2px;
    /*border-style: solid;
    border-width: 1px;
    border-color: black; */
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
    /* box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222; */
    /* box-shadow: inset 1px 1px 4px #444, inset -1px -1px 4px #444; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(205, 203, 203, 0.3) 0px 18px 36px -18px inset; */
    /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
    /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
}

.window__icon-button:hover {
    /* background-color: #2e2e2e; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.window__icon-button:active {
    /* background-color: #2e2e2e; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px inset;
}

.window__icon-button:disabled svg {
    stroke: gray;
}

.window__icon-button svg {
    width: 14px;
    height: 14px;
}

.window__body {
    position: relative;
    width: 100%;
    height: 0;
    padding: var(--window-padding);
    flex-grow: 1;
    /* border-top: 0px; */
}

.window__content {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    /* display: flex; */
    /* flex-direction: column-reverse; */
    /* width: var(--window-width);
    height: var(--window-height); */
    /* max-width: 100vw;
    max-height: calc(100vh - var(--tab-height)); */
    /* padding-left: 5px;
    padding-right: 5px; */
    border-top: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Extra small devices (phones, up to 600px) */
@media (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 601px to 768px) */
@media (min-width: 601px) and (max-width: 768px) {}

/* Medium devices (landscape tablets, 769px to 992px) */
@media (min-width: 769px) and (max-width: 992px) {}

/* Large devices (laptops/desktops, 993px to 1200px) */
@media (min-width: 993px) and (max-width: 1200px) {}

/* Extra large devices (large laptops and desktops, 1201px and up) */
@media (min-width: 1201px) {}